<div class='upmarg'>
    <div class='row'>
        <form action='/auth/resetpassword' method='POST'>
            <div class='col s12'>
                <ul class='tabs'>
                    <li class='tab col s6 offset-s3'><a class='active' href=''>Востановление акаунта</a></li>
                </ul>
            </div>
            <div id='login' class='col s12'>
                <div class='input-field'>
                    <input id='resetemail' name='resetemail' type='email' class='validate{{invalid}}' required value='' />
                    <label for='resetemail'>Email</label>
                    <span id='helper-resetemail' class='helper-text' data-error='{{helper}}'></span>
                </div>
                <input type='hidden' name='_csrf' value='{{@root.csrf}}' />
                <button type='button' class='btn btn-primary'>Дале</button>
            </div>
        </form>
    </div>
</div>